@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Ahora podra observar el clima en ciudades especificas para lo cual fue diseñado este 
    prototito web, !A disfrutar¡</p>
</div>
<div class="text-center">
    <img src="~/images/clima.png" alt="ASP.NET" class="img-responsive " />
    
</div>
